<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OperatorSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OperatorSetup.Properties.Settings>
            <setting name="FrontPort" serializeAs="String">
                <value>5566</value>
            </setting>
            <setting name="BackendPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FrontendPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminUrl" serializeAs="String">
                <value>http://95.85.119.162:5566/login</value>
            </setting>
            <setting name="EntireUrl" serializeAs="String">
                <value>http://localhost:5566</value>
            </setting>
        </OperatorSetup.Properties.Settings>
    </userSettings>
</configuration>